@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --block: #1f2937;
  --text-black: #252424;
  --text-secondary: #5c616c;
  --text-indigo: #4f46e5;
  --positive-color: #10b981;
  --negative-color: #ef4444;
}

body {
  background: var(--background);
  font-family: 'montserrat', sans-serif;
}