@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  
  --primary: #044d75;

  --secondary: #DB261D;

  --text-color: #000000;

  --active: #0092DF;

  --muted : #005481;
}

body {
  background: var(--background);
  font-family: "Montserrat";
}
